@import "./src/styles/_variables";
:host {
  text-align: center;
  margin: auto;
  min-width: 45px;
}
.peg {
  min-height: 10px;
  min-width: 10px;
  margin: 1px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}
.peg:hover {
  cursor: pointer;
  border-color: #999;
}

.grey {
  background-color: grey;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green,
.correct {
  background-color: green;
}
.white,
.wrong {
  background-color: white;
}
.yellow,
.colored {
  background-color: yellow;
}
