<div>
  <button type="button" (click)="this.newGame()">New Game</button>
</div>
<div *ngIf="this.current && this.guesses">
  <table class="guesses">
    <tr *ngFor="let guess of this.guesses; let i = index">
      <td class="guess">
        <span
          *ngFor="let peg of guess.pegs"
          [class]="'peg ' + this.colors[peg]"
        ></span>
      </td>
      <td class="result">
        <span
          *ngFor="let peg of guess.pegs; let j = index"
          [class]="'peg ' + this.results[i].getResultClass(j)"
        ></span>
      </td>
    </tr>
  </table>

  <div class="current" *ngIf="!this.isSolved">
    <hr />
    <span
      *ngFor="let peg of this.current.pegs; let i = index"
      [class]="'peg ' + this.colors[peg]"
      (click)="this.tapPeg(i)"
    ></span>
    <div>
      <button type="button" (click)="this.guess()">Guess</button>
    </div>
  </div>
  <h3 *ngIf="this.isSolved">
    YOU DID IT! It took you {{ this.guesses.length }} guesses.
  </h3>
</div>
