<div class="container">
  <div class="new-game-section">
    <div class="input-group">
      <input
        class="form-control form-control-lg"
        type="number"
        min="1"
        max="20"
        [(ngModel)]="this.pegCount"
      />
      <span class="input-group-btn">
        <button
          class="btn btn-block btn-lg btn-outline-dark"
          type="button"
          (click)="this.newGame()"
        >
          New Game
        </button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
  <div *ngIf="this.current">
    <div class="guesses">
      <div class="row" *ngFor="let result of this.results; let i = index">
        <div class="guess col">
          <app-combination [combination]="result.guess"></app-combination>
        </div>
        <div class="result col">
          <span
            *ngFor="let peg of result.guess.pegs; let j = index"
            [class]="'peg ' + result.getClassForIndex(j)"
          ></span>
        </div>
      </div>
    </div>

    <div class="current" id="current-guess">
      <hr class="hr" />
      <app-combination
        [combination]="this.current"
        (pegClicked)="this.tapPeg($event)"
      ></app-combination>
      <div>
        <button
          class="btn btn-primary btn-lg"
          type="button"
          [disabled]="this.isSolved"
          (click)="this.guess()"
          id="guess-btn"
        >
          Guess
        </button>
      </div>
    </div>
    <h3 *ngIf="this.isSolved">
      YOU DID IT! It took you {{ this.results.length }} guesses.
    </h3>
  </div>
</div>
