.new-game-section {
  margin: 10px auto 20px auto;
}
.guesses div,
.current div {
  margin: auto;
  text-align: center;
}
.guesses .row {
  border-top: 1px dashed #EEE;
  padding-top: 5px;
  margin-top: 5px;
}
.guesses .row:first-child {
  border-top-style: solid;
  border-top-color: #333;
  padding-top: 5px;
  margin-top: 5px;
}
