<div>
  <input type="number" min="1" max="20" [(ngModel)]="this.pegCount" />
  <button type="button" (click)="this.newGame()">New Game</button>
</div>
<div *ngIf="this.current">
  <table class="guesses">
    <tr *ngFor="let result of this.results; let i = index">
      <td class="guess">
        <app-combination [combination]="result.guess"></app-combination>
      </td>
      <td class="result">
        <span
          *ngFor="let peg of result.guess.pegs; let j = index"
          [class]="'peg ' + result.getClassForIndex(j)"
        ></span>
      </td>
    </tr>
  </table>

  <div class="current">
    <hr />
    <app-combination
      [combination]="this.current"
      (pegClicked)="this.tapPeg($event)"
    ></app-combination>
    <div>
      <button type="button" [disabled]="this.isSolved" (click)="this.guess()">
        Guess
      </button>
    </div>
  </div>
  <h3 *ngIf="this.isSolved">
    YOU DID IT! It took you {{ this.results.length }} guesses.
  </h3>
</div>
